
<h3>Claims de usuario</h3>
<ul>
    @foreach (var claim in ViewData["Claims"] as IEnumerable<System.Security.Claims.Claim>)
    {
    <li>
        @claim.Type : @claim.Value
    </li>
    }
</ul><br/>

<h3>Claims del token</h3>
<ul>
    @foreach (var claim in ViewData["ClaimsToken"] as IEnumerable<System.Security.Claims.Claim>)
    {
        <li>
            @claim.Type : @claim.Value
        </li>
    }
</ul>
